.about,
.contatos {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  color: #aaa;
  margin-bottom: 2em;
}

.about ul,
.contatos ul {
  padding: 0;
}

.about li,
.contatos ul {
  list-style-type: none;
}

.contatos ul {
  display: flex;
  justify-content: space-around;
  width: 49%;
}

@media (max-width: 400px) {
  .contatos ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
